
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Custom Theme files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link  rel="stylesheet" href="style.css">


<body >
	<style>
		.main{
			text-align: center;
		}


html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.main{
	margin-left: 60%
	
	
}

.info{
	margin-top: 5%;
	margin-left: 10%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
	
}

</style>
    
	<div class="info">
		<h1>Welcome to VQUEUE<br></h1>
		<h4>Providing the Queue at your Finger Tip</h4>
	</div>
	<div class="main">
		
		<h1 style="font-style: italic;">USER LOGIN</h1>
		
				<form action="/" method="POST">
					<input class="text" type="text" name="Email" placeholder="Email" required=""><br><br>
					
					<input class="text" type="password" name="Password" placeholder="Password" required=""><br><br>
					{{#if loginErr}}
                	<p class="error">{{loginErr}}</p>
                	{{/if}}
					<input type="submit" value="Login">
				</form>
				<br>
				<p><h4>Don't have an Account?</h4> <a href="/signup" class="btn btn-primary"> Sign Up Now!</a></p>

		</div>
		<div class="create">
			<style>
				.create{
					margin-top: -10%;
					margin-left: 7%;
				}
	
			</style>
			<h4>Qmanager Login / Registration</h4><br>
			<a href="/Qmanager" class="btn btn-primary"> CREATE QUEUE</a>
			
		</div>

</body>
 