<!DOCTYPE html>
<html>
<head>
<title>LOGIN </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Custom Theme files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link  rel="stylesheet" href="style.css">
<!-- //Custom Theme files -->
<!-- web font -->

<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper" align="center">
		<h1>LOGIN</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/" method="POST">
					<input class="text" type="text" name="Email" placeholder="Email" required=""><br><br>
					
					<input class="text" type="password" name="Password" placeholder="Password" required=""><br><br>
					{{#if loginErr}}
                	<p class="error">{{loginErr}}</p>
                	{{/if}}
					<input type="submit" value="Login">
				</form>
				<p>Don't have an Account? <a href="/signup"> Sign Up Now!</a></p>
			</div>
		</div>		
        <input type="button" value="CREATE A QUEUE" >
        
	
	</div>
    
	<!-- //main -->
</body>
</html>