<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>VQUEUE</title>
  </head>
     <section>
        <div class="container mt-5">
            <div class="row">
                {{#each services}}
                <div class="col-md-3">
                    <div class="card" style="width: 10rem;">
                        <img src="{{this.image}}"
                            class="card-img-top" alt="card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-category">{{this.category}}</p>
                            <a href="#" class="btn btn-primary">Select</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</html>
