<div class="mt-5 pl-5">
    <h2>This time slot has been confirmed</h2>
        <h3>User Details</h3>
        
        Name :{{userDetails.Name}}<br>
        Email :{{userDetails.Email}}<br>
        Phone :{{userDetails.Phone}}
    

</div>