<form action="/Qmanager/confirm-mail" method="POST" >
 <div class="form-group">
                    <label>OTP</label>
                    <input type="password" class="form-control" name="OTP" placeholder="OTP">

                </div>

                <button type="submit">Confirm Mail</button>
</form>