
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Custom Theme files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link  rel="stylesheet" href="style.css">
<br>
<h1 align="center">CREATE YOUR QUEUE</h1><br>
<!-- //web font -->

<body style="background-color:#c1d2d4;">
    <style>
        body{
            margin-left: 5%;
            
            
        }
    </style>
    <p><h2>INSTRUCTIONS:</h2><br>
   <h3> PLEASE THE BELOW INSTRUCTIONS BEFORE YOU CREATE YOUR QUEUE</h3><br><br>    
      <h3> 1.Specify the required information to create your queue<br><br>
        2.If you have already created a queue, You can log into your account and manage and modify your queue<br>
       <br> 3.Click "Create" button to manage/create your queue</h3> <br>
</p>
   <a  href="/Qmanager/login" class="btn btn-primary ">Create</a>
	

	<!-- //main -->
</body>
</html>