<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Qmanager Login</h2>
            <form action="/Qmanager/login" method="POST">
                <div class="form-group">
                    <label for="Email">Email Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div><br>
                {{#if loginErr}}
                <p class="loginErr text-danger">Invalid username or password</p>
                {{/if}}
                <a href="/Qmanager/register">Create new account ?</a>
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
</div>