<section>
    <div class="container">
        <h1 class="text-center">Your Queues</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 10rem;">
                    <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
                        class="card-img-top" alt="card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-category">Category</p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>    
            </div>
        </div>
        <div class="mt-5">
            <h1 class="text-center mb-5">Create A Queue</h1>
            <a href="" class="btn btn-primary btn-lg btn-block">Create your Queue</a>
        </div>
    </div>
</section>