

<div class="mt-5 pl-5">
    <h3>Your Profile</h3>
<div class="mt-5 pl-5">
  <h4> Personal Details</h4> 

Name: {{name}}<br>
Email Id: {{email}}<br>
Phone: {{phone}} <br>

  <a href="/editprofile" class="btn btn-primary">Edit Profile</a>
</div>
</div>